## components.html

<%def name="layoutControlList(configItem)">
<table id="ComRacorder" class="table table-normal table-condensed">

    %for member in configItem:
        <%

        itemMember=configItem[member]
        i = 0

        %>
        %for subMember in itemMember:
            <%
            subItemMember = itemMember[subMember]
            %>
            %if i%2 == 0:
                <tr>
            %endif
            ${layoutControl(item=subItemMember)}
            <%
            i = i+1
            %>
            %if i%2 == 0:
                </tr>
            %endif
        %endfor
    %endfor
    <%
    if len(configItem) > 0:
        configItem.pop(member)
    %>
</table>
</%def>

##parameter:
##item -> 配置项
<%def name="layoutControl(item)">
				<%
                realDataValue = ''
                if 'hasRealDataValue' in item:
                    realDataValue = item['hasRealDataValue']
                %>
                %if 'tableColSpan' in item:
                    <td colspan="${item['tableColSpan']}">
                %else:
                    <td>
                %endif
					%if item["controlType"] == 'label':
						%if 'mustHave' in item:
							%if item.as_bool('mustHave'):
								<${item["controlType"]} class="${item["controlCss"]}"><span style="color: red">*</span>${item["controlText"]}</${item["controlType"]}>
							%else:
								<${item["controlType"]} class="${item["controlCss"]}">${item["controlText"]}</${item["controlType"]}>
                        %endif
						%else:
							<${item["controlType"]} class="${item["controlCss"]}">${item["controlText"]}</${item["controlType"]}>
						%endif

                    %elif item["controlType"] == 'labelName':
                        %if 'mustHave' in item:
                            %if item.as_bool('mustHave'):
                                <label name=${item["controlName"]} id=${item["controlID"]} class="${item["controlCss"]}"><span style="color: red">*</span>${item["controlText"]}</label>
                            %else:
                                <label name=${item["controlName"]} id=${item["controlID"]} class="${item["controlCss"]}">${item["controlText"]}</label>
                            %endif
                        %else:
                            <label name=${item["controlName"]} id=${item["controlID"]} class="${item["controlCss"]}">${item["controlText"]}</label>
                        %endif
                    %elif item["controlType"] == 'input':
                        %if item["controlShowType"] == 'text':
                            %if "placeholder" in item:
                                <${item["controlType"]} name=${item["controlName"]} id=${item["controlID"]} type = ${item["controlShowType"]} class="${item["controlCss"]}" value="${realDataValue}" placeholder="${item["placeholder"]}"/>
                            %else:
                                <${item["controlType"]} name=${item["controlName"]} id=${item["controlID"]} type = ${item["controlShowType"]} class="${item["controlCss"]}" value="${realDataValue}"/>
                            %endif
                        %elif item["controlShowType"] == 'textDate':
                            <${item["controlType"]} name=${item["controlName"]} id=${item["controlID"]} type = ${item["dataRealShowType"]} class="${item["controlCss"]}" value="${realDataValue}" onclick="${item["onClick"]}"/>
                        %elif item["controlShowType"] == 'radio':
                            <%
                                if realDataValue == '':
                                    #default value
                                    realDataValue = None
                            %>
                            %for radioItem in item["radio"]:
                                <%
                                    radioItemData = item["radio"][radioItem]
                                %>
                                <${radioItemData["titleType"]} class="${radioItemData["titleCss"]}">
                                    %if realDataValue == radioItemData["inDataValue"]:
                                        <${item["controlType"]} name=${item["controlName"]} id=${radioItemData["inDataID"]} type = "${item["controlShowType"]}" value="${radioItemData["inDataValue"]}" onclick="${item["onClick"]}" checked/>
                                    %else:
                                        <${item["controlType"]} name=${item["controlName"]} id=${radioItemData["inDataID"]} type = "${item["controlShowType"]}" value="${radioItemData["inDataValue"]}" onclick="${item["onClick"]}"/>
                                    %endif
                                        <${radioItemData["inDataType"]} class="${radioItemData["inDataCss"]}"> ${radioItemData["inDataText"]}</${radioItemData["inDataType"]}>
                                </${radioItemData["titleType"]}>
                                <script type="text/javascript" language="javascript">

                                </script>
                            %endfor
                        %endif
                    %elif item["controlType"] == 'select':
                        ##now , we do not use selectSingle. all data from db or config file.
                        %if item["controlShowType"] == 'selectSingle':
                            <${item["controlType"]} name=${item["controlName"]} id=${item["controlID"]}  class="${item["controlCss"]}">
                            %for selectItem in item["select"]:
                                <%
                                    selectItemData = item["select"][selectItem]
                                %>
                                %if selectItemData["inDataValue"] ==  realDataValue:
                                    <${selectItemData["titleType"]} value="${selectItemData["inDataValue"]}" selected>${selectItemData["inDataText"]}</${selectItemData["titleType"]}>
                                %else:
                                    <${selectItemData["titleType"]} value="${selectItemData["inDataValue"]}">${selectItemData["inDataText"]}</${selectItemData["titleType"]}>
                                %endif
                            %endfor
                            </${item["controlType"]}>
                        %elif item["controlShowType"] == 'selectConf':
                            <%
                                dataDict = getDictStatic(item["dataSourceId"])
                            %>
                            <${item["controlType"]} name=${item["controlName"]} id=${item["controlID"]}  class="${item["controlCss"]}">
                            %if "needShowExt" in item:
                                %if realDataValue is None:
                                    <${item["dataTitleType"]} value="${item["needShowExtValue"]}" selected>${item["needShowExt"]}</${item["dataTitleType"]}>
                                %else:
                                    <${item["dataTitleType"]} value="${item["needShowExtValue"]}">${item["needShowExt"]}</${item["dataTitleType"]}>
                                %endif
                            %endif
                            %for selectItem in dataDict:
                                <%
                                    selectItemData = dataDict[selectItem]
                                    ##print selectItemData["value"]
                                %>
                                %if selectItemData["value"] ==  realDataValue:
                                    <${item["dataTitleType"]} value="${selectItemData["value"]}" selected>${selectItemData["text"]}</${item["dataTitleType"]}>
                                %else:
                                    <${item["dataTitleType"]} value="${selectItemData["value"]}">${selectItemData["text"]}</${item["dataTitleType"]}>
                                %endif
                            %endfor
                            </${item["controlType"]}>
                            %if "defaultValue" in item:
                                %if realDataValue == '':
                                    <script type="text/javascript" language="javascript">
                                        var selectText = function(dropdown, selectedValue) {
                                            var options = $(dropdown).find("option");
                                            var matches = $.grep(options,
                                                    function(n) { return $(n).text() == selectedValue; });
                                            $(matches).attr("selected", "selected");
                                        };
                                        selectText('#${item["controlID"]}','${item["defaultValue"]}');
                                    </script>
                                %endif
                            %endif
                        %endif
                    %endif
                </td>
</%def>

