<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noodp,nodir,noydir">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Reccem Login</title>
    <link href="../static/css/pages/login/OFusion_css.css"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../static/js/EsayUI/themes/default/easyui.css"
          xmlns="http://www.w3.org/1999/html">
    <script type="text/javascript" src="../static/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../static/js/EsayUI/jquery.easyui.min.js"></script>

</head>
<script style="text/javascript">
    function Login() {
       name = document.getElementById("username").value
       pwd = document.getElementById("password").value
       if(name == "" || pwd=="")
       {
           alert("用户名或密码不能为空")
           return;
       }
       else
       {

       }
   }

</script>
<body>
<header role="banner" class="oTransitionalHeader">
    <div class="cols oPageCentered">
    </div>
    </div>
</header>
<div id="main" role="main" class="oPageCentered oContentContainer">
    <div class="oPageCentered oFormContainer"><h1>Welcome to Reccem!</h1>
        <form action="/login" name="login" id="login" class="oForm-login" autocomplete="on" method="post">
            <input type="text" name="username" id="username" value="" maxlength="16"
                   class="oFormJumbo oInputText easyui-validatebox"
                   placeholder="用户名" required="true"/>
            <input type="password" name="password" id="password" value=""
                   class="oFormJumbo oInputText easyui-validatebox" placeholder="密码" required="true"/>
            <footer class="oFormFooter cols">
                <div class="col col1of3">
                    <input type="submit" name="submit" id="submit" value="登入" onclick="Login()" class="oBtn oBtnPrimary"/>
                </div>
            </footer>
            <div id="msg">${msg}</div>
            <input type="hidden" name="ioBB" id="ioBB"></form>
        </a></div>
    </form>
</div>
</div>
<footer role="contentinfo" class="oTransitionalFooter">
</footer>
</body>
</html>