<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>录音查询</title>
</head>
<body>
<form id="formOrderList">
    <fieldset>
        <div class="bs-docs-div">
            <table class="table table-hover table-condensed">
                <tr>
                    <td>
                        <button id="btnNew" type="button" class="btn">新建</button>
                    </td>
                </tr>
            </table>
            <table class="table table-hover table-condensed">
                % if inOrderInfoLst is not None:
                <tr>
                    <th>操作</th>
                    <th>客户编号</th>
                    <th>保单编号</th>
                    <th>创建人</th>
                    <th>创建日期</th>
                    <th>保单状态</th>
                    <th>反馈备注</th>
                </tr>
                <%
                orderInfoLst = inOrderInfoLst["OrderInfoLst"]

                if len(orderInfoLst) == 0:
                orderInfoLst = None
                %>
                %if orderInfoLst is not None:
                % for item in orderInfoLst:
                <tr>
                    <td>
                        <% orderid = item['OrderId'] %>
                        <% contactid = item['ContactId'] %>
                        <button type="button" class="btn" onclick="showOrder(${contactid},${orderid})">查询</button>
                    </td>
                    ${caller.body(item=item)}
                </tr>
                % endfor
                %endif
                % endif
            </table>
        </div>
    </
    %def>

    <%call expr="layoutdata(localOrderInfoLst)" args="item">
    <td>${item["ContactId"]}</td>
    <td>${item["OrderId"]}</td>
    <td>${item["Crusr"]}</td>
    <td>${item["Crdt"]}</td>
    <td>${item["StatusDsc"]}</td>
    <td>${item["Remark"]}</td>
</
%call>
%if localOrderInfoLst is not None:
%if len(localOrderInfoLst['PageManager']) > 0:
<div>
    <table>
        <tr>
            <td>
                总共有:${localOrderInfoLst['PageManager']['DataCount']}条数据.
                <br>
                总共有:${localOrderInfoLst['PageManager']['PageCount']}页数据,每页显示${localOrderInfoLst['PageManager']['PageSize']}条,当前是第${localOrderInfoLst['PageManager']['PageIndex']}页.
                <br>
                <button id="btnFastBackward" type="button" class="btn" onclick="showFastPrev()"><i
                        class="icon-fast-backward"></i></button>
                <button id="btnBackward" type="button" class="btn"
                        onclick="showPrev(${localOrderInfoLst['PageManager']['PageIndex']})"><i
                        class="icon-backward"></i></button>
                <button id="btnForward" type="button" class="btn"
                        onclick="showNext(${localOrderInfoLst['PageManager']['PageIndex']},${localOrderInfoLst['PageManager']['PageCount']})">
                    <i class="icon-forward"></i></button>
                <button id="btnFastForward" type="button" class="btn"
                        onclick="showFastNext(${localOrderInfoLst['PageManager']['PageCount']})"><i
                        class="icon-fast-forward"></i></button>
                <input id="idPageIndex" type="text" class="input-small" placeholder="去往页"/>
                <button id="btnCurrent" type="button" class="btn"
                        onclick="showCurrent(document.getElementById('idPageIndex').value,${localOrderInfoLst['PageManager']['PageCount']})">
                    <i class="icon-arrow-right"></i></button>
            </td>
        </tr>
    </table>
</div>
%endif
%endif
</fieldset>
</form>
</body>
</html>