<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="http://${localURL}/static/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="http://${localURL}/static/css/docs.css" rel="stylesheet" media="screen">
<script src="http://${localURL}/static/js/jquery.js"></script>
<script src="http://${localURL}/static/js/bootstrap.js"></script>
<script src="http://${localURL}/static/js/My97DatePicker/WdatePicker.js"></script>
<script src="http://${localURL}/static/js/util.js"></script>
<script src="http://${localURL}/static/js/localAddressList.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        var selectText = function(dropdown, selectedValue) {
            var options = $(dropdown).find("option");
            var matches = $.grep(options,
                                 function(n) { return $(n).text() == selectedValue; });
            $(matches).attr("selected", "selected");
        };
    });
</script>
<head>
    <title>录音查询</title>
    <meta charset="utf-8">
</head>

<%!
import json
import configObjData
from configObjData import getRecorderConfigPage
import configData
from configData import getConfig
localURL = getConfig('SERVERINFO','serverIP','str')
import sys
reload(sys)
#convert the show code.
sys.setdefaultencoding('utf8')
import copy
%>


<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#btnSearch").click(function () {
            //默认只查询第1页
            submitSearch('1');
        });
    })
    //第一页
    function showFastPrev() {
        submitSearch('1');
    }
    //最尾页
    function showFastNext() {
        var pageCount =jQuery("#pagecount").val()
        submitSearch(pageCount);
    }

    //当前页
    function showCurrent() {
        //alert(pageIndex);
        //pageIndex, pageCount

        var pageIndex = jQuery("#idPageIndex").val();
        var pageCount =jQuery("#pagecount").val()

        var intPageIndex = parseInt(pageIndex);
        if(isNaN(intPageIndex))
        {
            alert("输入页码不对")
            return;
        }

        var intPageCount = parseInt(pageCount);

        if (intPageIndex < 1) {
            intPageIndex = 1;
        }
        if (intPageIndex > intPageCount) {
            intPageIndex = intPageCount;
        }

        var localPageIndex = String(intPageIndex);
        submitSearch(localPageIndex);
    }


    // 上一页
    function showPrev() {
        //alert(pageIndex);
        var pageIndex =jQuery("#pageno").val()
        var intPageIndex = parseInt(pageIndex);
        intPageIndex = intPageIndex - 1;

        if (intPageIndex < 1) {
            intPageIndex = 1;
        }
        var localPageIndex = String(intPageIndex);
        submitSearch(localPageIndex);
    }

    //下一页
    function showNext() {
        var pageIndex =jQuery("#pageno").val()
        var pageCount = jQuery("#pagecount").val();
        var intPageIndex = parseInt(pageIndex);
        var intPageCount = parseInt(pageCount);
        intPageIndex = intPageIndex + 1;

        if (intPageIndex > intPageCount) {
            intPageIndex = intPageCount;
        }
        var localPageIndex = String(intPageIndex);
        submitSearch(localPageIndex);
    }

    function submitSearch(pageno) {
        pagesize = jQuery("#pagesize").val();
        startdate = jQuery("#idStartDT").val();
        enddate = jQuery("#idEndDT").val();
        calltype = jQuery("#calltype").val();
        agentid = jQuery("#agentid").val();
        telno = jQuery("#telno").val();
        available = jQuery("#status").val();
        totalmin = jQuery("#totalmin").val();
        totalmax = jQuery("#totalmax").val();
        channeldn = jQuery("#channeldn").val();
        teldnis = jQuery("#teldnis").val();
        if ((startdate == '') & (enddate == '') & (calltype == '') & (agentid == '') & (telno == '') & (available == '') & (totalmin == '') & (totalmax == '') & (channeldn == '') & (teldnis == '')) {
            alert("请至少选择一个条件");
            return
        }
        SearchRecorder(startdate, enddate, calltype, agentid, telno, available, totalmin, totalmax, channeldn, teldnis, pageno, pagesize);
        //SearchRecorder(startdate,enddate,agentid,pageIndex);
    }
    function SearchRecorder(instartdate, inenddate, incalltype, inagentid, intelno, inavailable, intotalmin, intotalmax, inchanneldn, inteldnis, inpageno, inpagesize) {
        //actionUrl ="http://localhost:8080/RecSearch/Search?startdate="+instartdate+'&enddate='+enddate+'&agentid='+inagentid+"&PAGEINDEX="+inpageindex;
        actionUrl = "http://${localURL}/RecSearch/Search?startdate=" + instartdate + '&enddate=' + enddate + "&calltype=" + incalltype +
                "&agentid=" + inagentid + "&telno=" + intelno + "&available=" + inavailable + "&totalmin=" + intotalmin + "&totalmax=" + intotalmax +
                "&channeldn=" + inchanneldn + "&teldnis=" + inteldnis + "&pageno=" + inpageno + '&pagesize=' + inpagesize;
        window.location.href = actionUrl;
    }


    // 现在每次点击播放的时候重新刷一次页面， ToDo: 采用异步刷新的方式
    function showBoFang(filePath,filename) {
        //需要刷新页面 其实点击播放按钮的时候，不会立即播放，会重新刷一次页面， 在页面加载事件里面播放 init 事件播放
        //var url = "http://"+hostName+"/Racorder/"+filename+"";  //每次点击后的url 需要重新指定
        //var url = "http://localhost/Racorder/Kalimba.mp3"; //测试的录音的地址
        //var objPlayer = document.all("MediaPlayerWav");
        //if (objPlayer != null) {
        //     objPlayer.URL = url;
        //    alert(objPlayer.URL);
        // }
        //function StrSub()

        // var url = "http://localhost/Racorder/Kalimba.mp3"; //测试的录音的地址
        // var objPlayer = document.all("MediaPlayerWav");
        // if (objPlayer != null) {
        //     objPlayer.URL = url;
        //     alert(objPlayer.URL);
        //  }

        alert(filePath);

        $("#labrecfilename").text(filename);
        //点击后需要重新绑定问卷的信息

        var  strJson = "";
        $("#labrecfilename").text(filename);

        var isbofang= "Y"
        //var localurl = window.location.href;
        //localurl = localurl +"&filename="+filename+"&isbofang="+isbofang;

        startdate = jQuery("#idStartDT").val();
        enddate = jQuery("#idEndDT").val();
        calltype = document.getElementById("calltype").value;
        agentid = jQuery("#agentid").val();
        telno = jQuery("#telno").val();
        available = document.getElementById("status").value;
        totalmin = jQuery("#totalmin").val();
        totalmax = jQuery("#totalmax").val();
        channeldn = jQuery("#channeldn").val();
        teldnis = jQuery("#teldnis").val();


        actionUrl = "http://${localURL}/RecSearch/Search?startdate=" + startdate + '&enddate=' + enddate + "&calltype=" + calltype +
                "&agentid=" + agentid + "&telno=" + telno + "&available=" + available + "&totalmin=" + totalmin + "&totalmax=" + totalmax +
                "&channeldn=" + channeldn + "&teldnis=" + teldnis;

        actionUrl = actionUrl +"&filename="+filename+"&isbofang="+isbofang+"&filePath="+filePath;

        window.location.href = actionUrl;
    }



</script>



<script type="text/javascript">
jQuery(document).ready(function (){
    //加法函数，用来得到精确的加法结果
    //说明：javascript的加法结果会有误差，在两个浮点数相加的时候会比较明显。这个函数返回较为精确的加法结果。
    //调用：accAdd(arg1,arg2)
    //返回值：arg1加上arg2的精确结果
    function accAdd(arg1,arg2){
        var r1,r2,m;
        try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}
        try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}
        m=Math.pow(10,Math.max(r1,r2))
        return (arg1*m+arg2*m)/m
    }
    //给Number类型增加一个add方法，调用起来更加方便。
    Number.prototype.add = function (arg){
        return accAdd(arg,this);
    }


    //乘法函数，用来得到精确的乘法结果
    //说明：javascript的乘法结果会有误差，在两个浮点数相乘的时候会比较明显。这个函数返回较为精确的乘法结果。
    //调用：accMul(arg1,arg2)
    //返回值：arg1乘以arg2的精确结果
    function accMul(arg1,arg2)
    {
        var m=0,s1=arg1.toString(),s2=arg2.toString();
        try{m+=s1.split(".")[1].length}catch(e){}
        try{m+=s2.split(".")[1].length}catch(e){}
        return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m)
    }

    //给Number类型增加一个mul方法，调用起来更加方便。
    Number.prototype.mul = function (arg){
        return accMul(arg, this);
    }

    // 总分 object
    var objctscorenum =$("#labscorenum");
    var labscoreJj =$("#labscoreJj");
    var labscoreKcb =$("#labscoreKcb");
    var labscoreTw =$("#labscoreTw");
    var labscoreGTJQ =$("#labscoreGTJQ");
    var labscoreJS =$("#labscoreJS");

    var radioDictName = "";
    // 点击每一个radio按钮事件
    this.radioclick = function(object)
    {
        //radio 值
        var radioValue =  $(object).val();
        $(object).checked = true;
        // 百分比的字段
        var percent = $(object).parent().parent().parent().next("tr").find("td:last").text();
        // 得分的字段 text
        var score = $(object).parent().parent().parent().next("tr").next("tr").find("td").find("input[type='text'][name ='txtSCORE']");

        //将每一题的radio 选择后得分 显示到得分字段
        var QanswerScore =  parseFloat (radioValue) * parseFloat(percent)/100;
        score.val(QanswerScore);

        // 需要重新计算 总分数
        var tatalScore = 0;     // 定义总分数
        var tatalscoreJj = 0;     // 建议得分
        var tatalscoreKcb = 0    //开场白得分
        var tatalscoreTw = 0     //提问得分
        var tatalscoreGTJQ = 0   // 沟通技巧得分
        var tatalscoreJS = 0    // 结束得分
        $("#ComRacorder tr").each(function(i){
                                      if($(this).find("td").find("input[type='text'][name='txtSCORE']").length > 0)
                                      {
                                          var ScroreAnswer =  $(this).find("td").find("input[type='text'][name='txtSCORE']");
                                          var ScoreAnswerScoreStr = ScroreAnswer[0].value;
                                          var  ScoreAnswerScore= 0
                                          if(ScoreAnswerScoreStr.length <= 0)
                                          {
                                              ScoreAnswerScoreStr = 0;
                                          }
                                          else
                                          {
                                              ScoreAnswerScore = parseFloat(ScoreAnswerScoreStr);
                                          }



                                          if(ScoreAnswerScore!=0)
                                          {
                                              var hasRemark =  $(ScroreAnswer).parent().prev("td").find("label").attr("name");
                                              if(hasRemark == "hasRemark1")
                                              {
                                                  tatalscoreJj = tatalscoreJj.add(ScoreAnswerScore)
                                              }
                                              else if(hasRemark == "hasRemark2")
                                              {
                                                  tatalscoreKcb = tatalscoreKcb.add(ScoreAnswerScore)
                                              }

                                              else if(hasRemark == "hasRemark3")
                                              {
                                                  tatalscoreTw = tatalscoreTw.add(ScoreAnswerScore)
                                              }
                                              else if(hasRemark == "hasRemark4")
                                              {
                                                  tatalscoreGTJQ = tatalscoreGTJQ.add(ScoreAnswerScore)
                                              }
                                              else if(hasRemark == "hasRemark5")
                                              {
                                                  tatalscoreJS = tatalscoreJS.add(ScoreAnswerScore)
                                              }
                                              tatalScore = tatalScore.add(ScoreAnswerScore)
                                          }

                                      }

                                  }
        );
        tatalScore = tatalScore.mul(0.5)
        objctscorenum.text(tatalScore);
        labscoreJj.text(tatalscoreJj);
        labscoreKcb.text( tatalscoreKcb);
        labscoreTw.text( tatalscoreTw);
        labscoreGTJQ.text( tatalscoreGTJQ);
        labscoreJS.text( tatalscoreJS);

    }


    var Racorderobj = function()
    {
        var _page = this;
        _page.userid = "${pageSession['UserName']}";
        //alert(_page.userid);
        _page.tatalScore = 0.0;
        // 初始化事件
        this.init = function()
        {
            _page.getRacorderScore();
            var isbofang = "${isbofang}";

            if(isbofang == "Y")
            {
                var hostName = "10.4.48.29";
                var filePath = "${filePath}";
                var fileName = "${outfilename}"
                var url = "http://"+hostName+"/RaRecSound/"+filePath+"/"+fileName+""; //测试的录音的地址


                var objPlayer = document.all("MediaPlayerWav");
                if (objPlayer != null) {
                    objPlayer.src = url;
                    alert(objPlayer.src);
                }
            }
            jQuery("#pageno").val(${pageSession}['pageno']);
             jQuery("#idPageIndex").val(${pageSession}['pageno']);
            jQuery("#pagesize").val(${pageSession}['pagesize']);
            jQuery("#pagecount").val(${pageSession}['pagecount']);
            jQuery("#rowcount").val(${pageSession}['rowcount']);

            jQuery("#idStartDT").val(${pageSession}['startdate']);
            jQuery("#idEndDT").val(${pageSession}['enddate']);
            //calltype = document.getElementById("type").value;
            jQuery("#agentid").val(${pageSession}['agentid']);
            jQuery("#telno").val(${pageSession}['telno']);
            document.getElementById("status").value;
            jQuery("#totalmin").val(${pageSession}['totalmin']);
            jQuery("#totalmax").val(${pageSession}['totalmax']);
            //totalmax = jQuery("#totalmax").val();
            //totalmax = jQuery("#totalmax").val();
            jQuery("#channeldn").val(${pageSession}['channeldn']);
            jQuery("#teldnis").val(${pageSession}['teldnis']);

            var statusdata= ${pageSession}['status']
            var calltypedata = ${pageSession}['calltype']

            var status = jQuery("#status");
            var calltype = jQuery("#calltype")

            status.val(statusdata);
            calltype.val(calltypedata);

        }



        this.getRacorderScore = function()
        {
            // 需要重新计算 总分数
            var tatalScore = 0;     // 定义总分数
            var tatalscoreJj = 0;     // 建议得分
            var tatalscoreKcb = 0    //开场白得分
            var tatalscoreTw = 0     //提问得分
            var tatalscoreGTJQ = 0   // 沟通技巧得分
            var tatalscoreJS = 0    // 结束得分
            $("#ComRacorder tr").each(function(i){
                                          if($(this).find("td").find("input[type='text'][name='txtSCORE']").length > 0)
                                          {
                                              var ScroreAnswer =  $(this).find("td").find("input[type='text'][name='txtSCORE']");
                                              var ScoreAnswerScoreStr = ScroreAnswer[0].value;

                                              var  ScoreAnswerScore= 0

                                              if(ScoreAnswerScoreStr.length <= 0)
                                              {
                                                  ScoreAnswerScoreStr = 0;
                                              }
                                              else
                                              {
                                                  ScoreAnswerScore = parseFloat(ScoreAnswerScoreStr);
                                              }
                                              if(ScoreAnswerScore!=0)
                                              {
                                                  var hasRemark =  $(ScroreAnswer).parent().prev("td").find("label").attr("name");
                                                  if(hasRemark == "hasRemark1")
                                                  {
                                                      tatalscoreJj = tatalscoreJj.add(ScoreAnswerScore)
                                                  }
                                                  else if(hasRemark == "hasRemark2")
                                                  {
                                                      tatalscoreKcb = tatalscoreKcb.add(ScoreAnswerScore)
                                                  }

                                                  else if(hasRemark == "hasRemark3")
                                                  {
                                                      tatalscoreTw = tatalscoreTw.add(ScoreAnswerScore)
                                                  }
                                                  else if(hasRemark == "hasRemark4")
                                                  {
                                                      tatalscoreGTJQ = tatalscoreGTJQ.add(ScoreAnswerScore)
                                                  }
                                                  else if(hasRemark == "hasRemark5")
                                                  {
                                                      tatalscoreJS = tatalscoreJS.add(ScoreAnswerScore)
                                                  }
                                                  tatalScore = tatalScore.add(ScoreAnswerScore)
                                              }
                                          }
                                      }
            );
            tatalScore = tatalScore.mul(0.5)    // 总分数需要重新计算 乘以 0.5
            objctscorenum.text(tatalScore);
            labscoreJj.text(tatalscoreJj);
            labscoreKcb.text( tatalscoreKcb);
            labscoreTw.text( tatalscoreTw);
            labscoreGTJQ.text( tatalscoreGTJQ);
            labscoreJS.text( tatalscoreJS);

        }

        // 点击确认按钮的时候出发保存事件
        $("#btnConfirm").click (function(){
            //_page.forConfirm();
            _page.forConfirm()
        });



        // 获取问题的答案信息
        this.GetRacorderAnwser = function()
        {
            var StrJson = "[";
            var j = 0; //定义j 用于取得 序列号
            $("#ComRacorder tr").each(function(i){
                                          if($(this).find("td").find("input[type='radio']").length > 0)
                                          {
                                              j++;
                                              var lblSEQUENCEID = "#lblSEQUENCEID"+j
                                              var mvalue=$(lblSEQUENCEID).text();// 可以记录问题的编号
                                              var raydio = null;
                                              var raydios = $(this).find("td").find("input[type='radio']");
                                              $(raydios).each(function(ra)
                                                              {
                                                                  var raydiolocal = raydios[ra];
                                                                  if(raydiolocal.checked)
                                                                  {
                                                                      raydio = raydiolocal;
                                                                  }
                                                              }
                                              );

                                              if($(raydio).length > 0 )
                                              {
                                                  var subitemAnswer = $(raydio).val();

                                                  var questionobject = $(raydio).parent().parent().parent().prev("tr").find("td:last").find("label");

                                                  var questionostr = questionobject[0].id;

                                                  var Questionindex = questionostr.indexOf("ID_");
                                                  var questionId =  questionostr.substring(Questionindex,questionostr.length);

                                                  StrJson +="{'questionID':'"+ questionId+"','subitemAnswer':'"+subitemAnswer+"','";

                                                  var ScroreAnswerobject = $(raydio).parent().parent().parent().next("tr").next("tr").find("td:last").find("input");

                                                  StrJson +="score"+"':'"+ScroreAnswerobject.val()+"','"
                                                  var tMemoAnswerobject = $(raydio).parent().parent().parent().next("tr").next("tr").next("tr").find("td:last").find("input");
                                                  StrJson +="note"+"':'"+tMemoAnswerobject.val()+"'},"

                                              }
                                          }

                                      }
            );
            if(StrJson.length>2)
            {
                StrJson= StrJson.substring(0,StrJson.length-1);
            }
            StrJson +="]"




            return StrJson;
        }

        //组织录音质检，打分信息的 json 字符串
        this.GetRacorderScoreJsonStr = function()
        {

            var fileName =  $("#labrecfilename").text();
            var total =$("#labscorenum").text();
            var raters = _page.userid;
            var d = new Date();
            var sttm = d.getYear() + '-' + (d.getMonth()+1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
            var reterTime = sttm;
            var remark = $("#txtQuestionNote").val();

            var scrvals = _page.GetRacorderAnwser();


            //pageSession
            //pageSession.
            //17


            var datascrvals = scrvals.replace(/'/gm,"\"");
            var data = $.parseJSON(datascrvals)
            //获取问题的个数
            var tRacorderQuestions_count = ${pageSession["tRacorderQuestions_count"]}

            if(tRacorderQuestions_count != data.length)
            {
                return false;
            }


            scrvals = scrvals.replace(/'/gm,"@");

            var RacorderSaveJson = "{'fileName':'"+fileName+"','";
            RacorderSaveJson += "raters':'"+raters+"','";
            RacorderSaveJson += "total':'"+total+"','";
            RacorderSaveJson += "reterTime':'"+reterTime+"','";
            RacorderSaveJson += "remark':'"+remark+"','";


            RacorderSaveJson += "scrvals':";
            RacorderSaveJson = RacorderSaveJson.replace(/'/gm,"\"");
            RacorderSaveJson=RacorderSaveJson +scrvals+"}";
            return RacorderSaveJson;
        }
        //保存录音事件
        this.forConfirm = function()
        {
            var  strJson = _page.GetRacorderScoreJsonStr();
            if(strJson == false)
            {
                alert("您还有打分信息未选中")
                return;
            }

            strJson =  strJson.replace("[","\"[");
            strJson =  strJson.replace("]","]\"");

            var retPost = "";
            var flag = $("#RacorderIsAdd").val();

            if(flag == "add")
            {
                retPost = "POST";
            }
            else
            {
                retPost = "PUT";
            }

            var result = false;
            $.ajax({
                       url:"/Saverqscoscr/"+retPost,
                       type:"POST",
                       cache:false,
                       data:strJson,
                       datatype:"json",
                       success:function(data){
                           if(data!=null&&data!="None")
                           {
                               var localfileName =  data["fileNameNo"];
                               var tatal = data["total"];

                               jQuery("#"+localfileName+"").text(tatal);     //重新把分数计算

                               alert("保存成功")
                               var flag = $("#RacorderIsAdd");
                               flag.val("edit");
                               result = true;
                           }
                           else
                           {
                               alert("保存失败")
                               result = false;
                           }
                       }
                   });
            return result;


        }
    }
    var  Racorderobj = new Racorderobj();
    Racorderobj.init();
});

</script>

<body>
<form id="form1" >
    <div>
        <table>
            <tr>
                <td colspan="2"><img src="../static/img/Rayda2.jpg" alt="锐意恒达"></td>

            </tr>
            <tr>
                <td width="40%" valign="top">

                    <table>
                        <tr>
                            <td valign="top">
                                <table   align="top" class="label label-normal">
                                    <tr tyle="background-color:#fff">
                                        <td width="77" >日期时间：</td>
                                        <td width="179" >
                                            <input name="startdate" id="idStartDT"  class="Wdate input-small search-query"
                                                   onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" style="width:140px"/></td>
                                        <td width="228">--&nbsp;&nbsp;&nbsp;
                                            <input name ="enddate" class="Wdate input-small search-query" id="idEndDT"
                                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  style="width:140px"/></td>
                                        <td width="214" height="40" >类型：
                                            <select name="calltype" id="calltype"  style="width:140px">
                                                <option value=""></option>
                                                <option value="IN">IN</option>
                                                <option value="OUT">OUT</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td >坐席工号：</td>
                                        <td >
                                            <input name="agentid" type="text" id="agentid" style="width:140px" />  &nbsp;&nbsp;</td>
                                        <td> 分机：<input name="telno" type="text" id="telno" value=""  style="width:140px"/></td>
                                        <td>状态：
                                            <select name="status" id="status"  class="input-medium" style="width:80px"  height="10px">
                                                <option value=""></option>
                                                <option value="1">1->完成</option>
                                                <option value="3">3->重点</option>
                                            </select>
                                            <button id="btnSearch" class="btn" style="width:50px">查 询</button>                                          </td>
                                    </tr>
                                    <tr>
                                        <td align="left">得分从:</td>
                                        <td><input name="totalmin" id="totalmin" type="text" style="width:55px"/>
                                            至
                                            <input name="totalmax" type="text" id="totalmax" style="width:55px"/></td>

                                        <td> 主叫：<input name="channeldn" type="text"  id="channeldn"  style="width:140px"/></td>
                                        <td>被叫：
                                            <input name="teldnis" type="text" id="teldnis" style="width:140px" /></td>
                                    </tr>
                                </table>
                                <div align="top" id="formOrderList" style="height:350px; overflow-y:scroll">
                                    <table  width="100%"  id="tbReccorder" class="label label-normal">
                                        % if outdic is not None:
                                        <tr>
                                            <th width="10%">播放</th>
                                            <th width="10%">分机</th>
                                            <th width="10%">坐席ID</th>
                                            <th width="15%">开始时间</th>
                                            <th width="15%">通话时长</th>
                                            <th width="15%">呼叫类型</th>
                                            <th width="10%">总分</th>
                                            <th width="10%">主叫</th>
                                            <th width="10%">被叫</th>

                                            % for item in outdic:
                                        <tr>
                                            <% hostName = item['hostName'] %>
                                            <% fileNameNo = item['fileNameNo'] %>
                                            <% filePathNo = item['filePathNo'] %>
                                            <% fileName = item['fileName'] %>
                                        <th> <button type="button"  class="btn" onclick="showBoFang('${filePathNo}','${fileName}')">播放</button></th>
                                        <th>${item["telNO"]}</th>
                                        <th>${item["agentID"]}</th>
                                        <th >${item["startTime"]}</th>
                                        <th>${item["spendTime"]}</th>
                                        <th>${item["callType"]}</th>
                                        <th id = ${item["fileNameNo"]}>${item["total"]}</th>
                                        <th>${item["telNO"]}</th>
                                        <th>${item["telDNIS"]}</th>
                                        % endfor
                                        % endif
                                    </table>
                                </div>
                                <div>
                                    <table>
                                        <tr>
                                            <td>

                                              <!--  pageno = ""
                                                pagesize = ""
                                                -->

                                                <input id="pageno" type="hidden" class="input-small"/>
                                                <input id="pagesize" type="hidden" class="input-small"/>
                                                <input id="pagecount" type="hidden" class="input-small"/>
                                                <input id="rowcount" type="hidden" class="input-small"/>


                                                <button id = "btnFastBackward" type="button" class="btn" onclick="showFastPrev(1)"><i class="icon-fast-backward"></i></button>
                                                <button id = "btnBackward" type="button" class="btn" onclick="showPrev()"><i class="icon-backward"></i></button>
                                                <button id = "btnForward" type="button" class="btn" onclick="showNext()"><i class="icon-forward"></i></button>
                                                <button id = "btnFastForward" type="button" class="btn" onclick="showFastNext()"><i class="icon-fast-forward"></i></button>
                                                <input id="idPageIndex" type="text" class="input-small" placeholder="去往页"/>
                                                <button id = "btnCurrent" type="button" class="btn" onclick="showCurrent()"><i class="icon-arrow-right"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                             <embed src="" id="MediaPlayerWav"  width=750 height=50 type=audio/mpeg loop="false" autostart="true">


                              <!--     Flash：type="application/x-shockwave-flash"；
                                 Windows media player：type="application/x-mplayer2"；
                                 Realplayer：type="audio/x-pn-realaudio-plugin"。
                              -->
                               <!-- <object id="MediaPlayerWav" classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6" width="740"
                                        height="45"
                                        codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701standby=Loading Microsoft? Windows Media? Player
components..."
                                        type="application/x-oleobject">
                                    <param name="URL" value="">
                                    <param name="UIMode" value="full">
                                    <param name="AutoStart" value="1">
                                    <param name="Enabled" value="1">
                                    <param name="EnableContextMenu" value="0">
                                    <param name="windowlessVideo" value="0">
                                    <param name='Volume' value='100'>
                                </object>-->
                            </td>
                            </td>
                        </tr>
                    </table>
                </td>
                <td align="left" width="45%">
                    <table >

                        <tr>
                            <td align="left"   class="label label-normal"  colspan="2">文件名： <span id="labrecfilename">${outfilename}</span></td>
                            <td align="left" class="label label-normal" > 总得分：<span id="labscorenum">0</span></td>
                        </tr>

                        <tr  align="left" class="label label-normal" >
                            <td  align="left" >
                                建议得分:<span id="labscoreJj">0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                开场白得分:<span id="labscoreKcb">0</span>

                            </td>
                            <td align="left" >
                                提问得分:<span id="labscoreTw">0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                沟通技巧得分：<span id="labscoreGTJQ">0</span>

                            </td >
                            <td  align="left" >结束得分:<span id="labscoreJS">0</span></td>
                        </tr>
                    </table>

                    <div class="bs-docs-div-compress" style="height: 400px;overflow-y:scroll
">

                        <table>
                            <tr>
                                <td colspan="3" valign="top" style="border-top:solid 1 Lime;">
                                    <div>
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td id="jspnltdobj" valign="top" colspan="3">
                                                    <div>
                                                        <%
                                                        configPageRecorderScore = configPage
                                                        configUsing =copy.deepcopy(configPageRecorderScore)

                                                        #print("configPageRecorderScore length:")
                                                        #print len(configPageRecorderScore)
                                                        %>
                                                        <%namespace name="comp" file="components.html" />
                                                        ${comp.layoutControlList(configItem=configUsing)}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td algin="left" coclass="myFullTable" colspan="3">
                                                    <label class="label label-normal">总备注</label>
                                                    <textarea name=txtnote id=txtQuestionNote height="100"  type = "textear" value="${QuestionNote}"  placeholder="备注"> </textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        &nbsp; <input type="button" class="btn btn-primary" id="btnCancel" value="取消" />
                        &nbsp; &nbsp; &nbsp; <input type="button" class="btn btn-primary" id="btnConfirm" value="确定" />
                        <input id="RacorderIsAdd" type="hidden" value="${flag}">
                    </div>

                </td>
            </tr>
        </table>
    </div>
</form>

</body>
</html>